.layout-header{
  width: 100%;
  /* Poner una altura mínima en px (no relativas a la pantalla) para que no se haga más pequeño el header que el contenido que contiene provocando que se desborde el texto o bien utilizar keyframes para adaptar las medidas en función del tamaño de la pantalla */
  min-height: 150px;
  height: 100%;
}
/* Cuando una palabra sea muy larga y queramos que se adapte al ancho del contenedor div y no se salga y/o genere barras horizontales */
/* #layout-header p{
  word-wrap: break-word;
} */



