/* INDICAR EL TAMAÑO DE LOS CONTENEDORES DEL HEADER-FOOTER-PAGES(BODY)-SIDEBAR-ETC */
/* Cuando no queramos dejar márgenes, los componentes header y footer se adaptarán al 100% de la altura de estos contenedores (height=width=100% )*/

.container-main-page{
  width: 100%;
  min-height: 100vh;
  background-color: black;
}

.header{
  width: 100%;
  /* height: 20vh; */
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 10;
}

.pages{
  width: 100%;
   /* mismo margen superior que altura del header que es fijo */
  /* margin-top: 20vh; */
  /* padding: 5vh; */
  /* Equivalente a flex-fill de bootstrap: Rellenar el espacio restante entre el header y el footer */
  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%; */
}

.footer{
  width: 100%;
 height: 10vh;

}

