<div class="row bg-success d-flex justify-content-center align-items-center ">
  <div *ngFor="let starship of starships; let i=index" class="col-md-2 col-sm-3 m-2 bg-info ">
    <div class="card mb-2 text-center bg-dark" (click)="showCardStarship(i)" style="cursor: pointer;">
      <img [src]="getImageStarship(i)"
        onerror=" this.src=`https://starwars-visualguide.com/assets/img/big-placeholder.jpg`" class="card-img-top ">

      <div class="card-body text-white ">
        <p class="card-text ">{{starship.name | uppercase}}</p>
        <p class="card-text text-success ">{{starship.model}}</p>
      </div>

    </div>
  </div>
</div>
<!-- <div *ngIf="page===4" class="row mt-3">
  <div class="col-12 d-flex flex-column align-items-center">
    <button (click)="loadMoreStarships()" class="btn btn-warning">
      NEXT PAGE
    </button>
  </div>
</div> -->
