.home-page{
  min-height: 60vh;
  width: 100%;

}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(83, 81, 81);
  border-radius: 50%;
  padding: 20px;
  color: yellow !important;
}

.carousel-control-prev,
.carousel-control-next {
  color: black;
}

.fixed-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

@media (max-width: 1020px) {
  .fixed-content {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    text-align: center;
    z-index: auto;
    margin: 5vh;
  }
}
