<div  class="row w-100 ps-5 m-auto">
  <h4 class="mt-2">PILOTS</h4>
  <div *ngIf="infoPilots.length>0" class="d-flex flex-wrap">
    <div *ngFor="let pilot of infoPilots; let i = index" class=" col-md-2 col-sm-3 m-2">

        <div class="card mb-2 text-center bg-dark">
          <img
            src="{{ urlImg }}{{ getPilotID(i) }}.jpg"
            onerror="this.src='https://starwars-visualguide.com/assets/img/big-placeholder.jpg'"
            alt="Pilot picture"
            class="card-img-top"

          />
          <div class="card-body text-white">
            <p class="card-title text-center">{{ pilot.name | uppercase }}</p>
          </div>
        </div>

    </div>
  </div>
  <div *ngIf="infoPilots.length===0"
   class="row">
   <p>There are no pilots available on this starship</p>
  </div>
</div>
